importFrom(evaluate, parse_all)
import(CodeDepends)

export(readCode)
S3method(readCode, character)
S3method(readCode, data.frame)
export(longDF, longDF2)
export(getComments)


export(findSimilarExpr)


